<html>
<head>
<style>
  table{
    border:1px solid #000;
  }
  td{
    border:1px solid #000;
    padding:10px;
  }
</style>
<title>This is stock list .html</title>
</head>
<body>
{% if stockmodel_list %}  <!--  the_model_name_list -->
    <table>
      <tr>
        <td>股票名稱</td>
        <td>股票代號</td>
        <td>成交價</td>
        <td>漲跌%</td>
        <td>委買價</td>
        <td>委賣價</td>
        <td>最高價</td>
        <td>最低價</td>
        <td>開盤價</td>
        <td>資料更新時間</td>
      </tr>
      {% for stock in stockmodel_list %}
      <tr>
        <td>{{stock.name}}</td>
        <td>{{stock.stock_id}}</td>
        <td>{{stock.bid_price}}</td>
        <td>{{stock.price_chage_ratio}}</td>
        <td>{{stock.buy_price_first}} - {{stock.buy_price_last}}</td>
        <td>{{stock.ask_price_first}} - {{stock.ask_price_last}}</td>
        <td>{{stock.high_price}}</td>
        <td>{{stock.low_price}}</td>
        <td>{{stock.open_price}}</td>
        <td>{{stock.date_time}}</td>
      </tr>
     {% endfor %}
    </table>
    <ul>
      {% for stock in stockmodel_list %}
      <li>
        ({{stock.name}})
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no stock data fetched.</p>
  {% endif %}
</body>
</html>
